@import '../../../../../styles/const.scss';
@import '../../../../../styles/mixins.scss';

.casesImageWrapper{
    flex: 1;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 740px;
    height: 52vw;
    border-radius: 40px;
    overflow: hidden;
}

.casesImageWrapperEnd {
    justify-content: flex-end;
  }

.imageContainer {
    position: relative;

    .imageContent{
        object-fit: fill;
      }  
}

.imageContainer1 {
    max-height: 650px;
    max-width: 535px;
    height: 45vw;
    width: 40vw;
}

.imageContainer2 {
    max-height: 550px;
    max-width: 624px;
    height: 38vw;
    width: 44vw;
}

.imageContainer3 {
    max-height: 630px;
    max-width: 510px;
    height: 45vw;
    width: 35vw;
}

