@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.customFieldContainer {
    position: relative;
}

.customField {
    @include customFieldSetting;
}

.floatingLabel {
   @include floatingLabel;
}

.errorMessage {
    @include inputError;
    position: absolute;
    bottom: -15px;
    left: 0;
}
