@import '../../../../styles/const.scss';
@import '../../../../styles/mixins.scss';

.backCard {
    position: absolute;
    right: 24px;
    top: 32px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: $white;
    border-radius: 40px;
    min-width: 350px;

    .backCardTitle {
        @include blockName($white);
    }

    .backCardItems {
        padding-top: 16px;

        .backCardItem {
            .backCardTech {
                @include blockContent;
                margin-right: 8px;
            }

            .backCardStack {
                @include stackContent;
            }

        }
    }

}