@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.about {
    @include wrapper;
    padding-top: 80px;
    padding-bottom: 80px;

    .aboutTitle {
        @include blockName;
    }

    .aboutText {
        padding-top: 8px;
        max-width: 960px;
        @include mediumSizeContent;
    }

    .aboutCards {
        padding-top: 90px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        @media (max-width: 850px) {
            padding-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 32px;
        }

        @media (max-width: 460px) {
            padding-top: 30px;
            grid-template-columns: repeat(1, minmax(max-content, 320px));
            row-gap: 16px;
            column-gap: 0;
            justify-content: center
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
