.casesVariants {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .isTabletCase {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .mainImage {
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        width: 93vw;
        height: 100vw;
        margin: 0 auto;
        max-width: 358px;
        max-height: 382px;

        img {
            object-fit: cover;
        }
    }
}
