@import '../../../../styles/const.scss';
@import '../../../../styles/mixins.scss';

.infoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    @include footerBlockName($white);

    .iconContainer {
        position: relative;
        min-width: 40px;
        height: 40px;
    }
}
