@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.header {
    @include wrapper;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerTitle {
        font-size: 64px;
        font-weight: 500;
        line-height: 130%;
        text-align: center;
    }

    .headerText {
        padding-top: 8px;
        color: $description-text;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        line-height: 130%;
    }

    .headerButton {
        margin-top: 24px;
        background-color: $primary-blue;
        width: 280px;
        color: $white;
        padding: 16px;
        border-radius: 40px;
    }
}
