@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.header {
    @include wrapper;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerTitle {
        @include headerTitle;
        text-align: center;

        @media (max-width:550px) {
            padding-top: 24px;
        }
    }

    .headerText {
        padding-top: 8px;
        color: $description-text;
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        line-height: 130%;

        @media (max-width:550px) {
            text-align: start;
        }
    }

    .headerButton {
        margin-top: 24px;
        width: 280px;
    }

    .headerImage {
        margin-top: 40px;
        position: relative;
        max-width: 1296px;
        max-height: 693px;
        width: calc(100vw - 144px - 8px);
        height: 48vw;

        @media (max-width:1000px) {
            width: calc(100vw - 64px - 8px);
        }

        @media (max-width:550px) {
            width: calc(100vw - 32px - 8px);
            order: -1;
            margin-top: 0;
            height: 123vw;
            max-height: 420px;
        }

        .headerImg {
            object-fit: cover;
            border-radius: 24px;

            @media (max-width:400px) {
                object-position: top;
            }
        }
    }
}