@import '../../../../../styles/const.scss';
@import '../../../../../styles/mixins.scss';

.casesTextWrapper{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    gap: 16px;

    .casesTitle{
        @include blockName;
    }

    .casesBlockTitle{
        @include blockTitle;
    }
    
    .casesBlockContent{
        @include blockContent;
    }
}
