@import '../../../styles/const.scss';
@import '../../../styles/mixins.scss';

.contactFormContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 800px) {
        gap: 24px;
    }
    .contactFormTitle {
        @include formTitle;
        margin-bottom: 24px;
        text-align: center;
        @media (max-width: 800px) {
            margin-bottom: 16px;
        }
    }
    .contactFormFields {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 800px) {
            gap: 16px;
        }
    }
}
