@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter-Regular.eot');
    src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Inter-Regular.woff2') format('woff2'),
        url('/fonts/Inter-Regular.woff') format('woff'),
        url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Inter-SemiBold.eot');
    src: url('/fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('/fonts/Inter-SemiBold.woff') format('woff'),
        url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inter-Bold.eot');
    src: url('/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Inter-Bold.woff2') format('woff2'),
        url('/fonts/Inter-Bold.woff') format('woff'),
        url('/fonts/Inter-Bold.ttf') format('truetype');
}

/* Указываем box sizing */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

main {
    padding-top: 24px;
}

canvas {
    display: block;
    position: relative !important;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a */
a {
    text-decoration: none;
    color: #000000;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article */
article>*+* {
    margin-top: 1em;
}

button {
    background-color: #ffffff;
    border: none;
    font: inherit;
}

button:focus {
    outline: none;
}

option {
    padding: 16px;
    font-size: 18px;
    line-height: 24px;
    color: #25293d;
    border-radius: 4px;
}

/* Модифицируем скролл */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transform: rotate(90deg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d6cfb9;
}

/* Модификация скролла для Mozilla */
html,
body {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    scrollbar-width: 8px;
}

.center .swiper-wrapper {
    justify-content: center;
}

.between .swiper-wrapper {
    justify-content: space-between;
}

.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion:reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}