@mixin wrapper {
    padding-left: 72px;
    padding-right: 72px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:1000px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media (max-width:550px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@mixin background_blur {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
}
