@mixin wrapper {
    padding: 0 72px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:768px) {
        padding: 0 32px;
    }
  
    @media (max-width:320px) {
      padding: 0 16px;
    }
}

@mixin blockName($color: $description-text) {
    font-family: 'Rubik';
    color: $color;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
}

@mixin blockTitle($color: $primary-text){
    font-family: 'Rubik';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

@mixin mediumSizeContent {
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%; 
}


@mixin blockContent {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@mixin buttonText {
    font-family: 'Rubik';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

@mixin inputPlaceholder {
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

@mixin inputError {
    color: $primary-error;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@mixin lightCard($paddingVertical: 32px, $paddingHorizontal: 24px, $gap: 24px) {
    border-radius: 40px;
    background: $background;
    padding: $paddingVertical $paddingHorizontal;
    gap: $gap;
    display: flex;
    flex-direction: column;
}
