@import '../../../../styles/const.scss';
@import '../../../../styles/mixins.scss';

.modalContainer {
    background-color: $white;
    width: 640px;
    border-radius: 40px;
    padding: 55px 48px;
    background-color: $white;
    position: relative;
    .closeButton{
        position: absolute;
        top: 24px;
        right: 27px;
        height: 32px;
        width: 32px;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}
